.chart-list{
    margin: 0 auto;
    align-self: center;
    max-width: 80%;
    overflow: auto;
    background-color: antiquewhite;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.chart{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chart-list > div {  

margin: 10px;
min-width: 1rem;
}